html {
    background-color: rgb(38, 41, 212);
}
img {
    width: 400px;
}
h1 {
    color: rgb(8, 98, 20);
}
#thridDiv{
    height: 600px;
    width: 500px;
    background-color: chocolate;
    border: 5px;
    border-style: double;
    border-color: crimson;
    padding: 50px;

}
#spanId{
    font-size: 18px;
    margin: 50px;
    

}